*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('23.jpg') no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    animation: animateBg 5s linear infinite;
}
.container{
    position: relative;
    width: 400px;
    height: 450px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}